body {
    margin: 0 !important;
    padding: 0 ! important;
}
.menu{
    width: 96%;
   float: left;
}
ul {
    list-style-type: none;
    display: flex;
    background-color: black;
    width: 100%;
    padding: unset;
}

.container a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

a:hover {
    background-color: #f2f2f2;
    color: black;
}

.less {
    position: absolute;
    color: black;
    background-color: white;
    display: none;

    text-transform: uppercase;
    z-index: 1;

    width: 200px;
}

.more:hover .less {
    display: block;

}

.less a {
    color: black;
    display: block;
    padding: 14px 16px;
}

.body {
    height: 300px;
    width: 102%;
    background-color: rgb(15, 71, 64);
    margin: -16px !important;
}

.a:hover {
    background-color: #f2f2f2;
    color: black;

}

.search{
    width: 4%;
    float: left;
    padding-top: 18px ;
    background-color: black;
    margin-top:0 !important;
    text-align: center;
}
 .search a:hover{
    background-color:red;
}
.search:hover{
    background-color: red;
}